<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <h3 class="text-info text-center">
      Book Festival 2022
      <hr>
      <img
        src="https://static.vecteezy.com/system/resources/previews/004/379/371/non_2x/book-festival-flat-poster-template-writer-fest-library-anniversary-books-fair-literary-holiday-isolated-cartoon-characters-banner-brochure-page-leaflet-design-layout-with-place-for-text-vector.jpg"
        class="img-fluid">
    </h3>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <h5><u><b>Introduction:</b></u></h5>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam neque dui, pulvinar non semper a, malesuada a erat.
      Mauris a arcu eros. In nisi nisi, ultrices ut nibh in, luctus malesuada tellus. Maecenas at sodales neque, ac
      pulvinar elit. Ut auctor ex lorem, eget maximus felis ornare non. Nullam ligula odio, blandit ut lobortis et,
      pretium at lacus. Nunc ac bibendum lectus, sit amet suscipit odio. Pellentesque feugiat bibendum nulla. Aenean
      euismod lectus nec consectetur lobortis. Nunc non pharetra tortor, eu consequat ante. Nunc pretium laoreet est, at
      euismod orci dignissim non.
    </p>
    <p>
      Nullam euismod nisi ipsum, ac sagittis nibh congue sed. Duis tempor auctor nulla quis sagittis. Mauris efficitur
      dignissim tortor vitae ornare. Suspendisse ultricies est ac quam vulputate ornare. Quisque commodo egestas lacus
      sit amet ultricies. In tristique odio velit, vel hendrerit massa accumsan a. Nullam imperdiet varius sem, non
      tincidunt orem efficitur quis. Etiam sit amet sollicitudin diam. Pellentesque augue lectus, maximus eu velit
      vehicula, pretium viverra urna. Nulla facilisi.
    </p>
    <p> Nulla non magna mauris. Etiam faucibus mauris justo, hendrerit efficitur nunc scelerisque ut. Pellentesque
      convallis at est vitae dapibus. Pellentesque eget sodales nulla. Vivamus eu mauris purus.
    </p>
  </div>
</div>
