<div class="row justify-content-center">
  <div class="col-lg-8 col-md-8 col-sm-12">
    <div class="card border-info shadow">
      <div class="card-body">
        <form ngNativeValidate #authorForm=ngForm class="submit-form">
          <div *ngIf="!submitted">
            <div class="form-group">
              <label for="name">Author's full name</label>
              <input type="text" class="form-control" id="name" required [(ngModel)]="author.name" name="name"/>
            </div>

            <div class="form-group mt-2">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" required [(ngModel)]="author.email" name="email"/>
            </div>

            <div class="form-group mt-2">
              <label for="name">Phone</label>
              <input type="phone" class="form-control" id="phone" required [(ngModel)]="author.phone" name="phone"/>
            </div>

            <div class="form-group mt-2">
              <label for="age">Age</label>
              <input type="text" class="form-control" id="age" required [(ngModel)]="author.age" name="age"/>
            </div>

            <div class="form-group mt-2">
              <label for="genre">Author's book genres</label>
<!--              <select class="form-control" id="genre" required [(ngModel)]="author.genre" name="genre">-->
<!--                <option *ngFor="let genre of genres" [value]="genre">{{genre}}</option>-->
              <ng-select bindLabel="genre" id="genre" name="genre"

                         appendTo="body" [multiple]="true" [(ngModel)]="selected_genres">
                <ng-option [value]="item" *ngFor="let item of db_genres">
                  {{item.name}}
                </ng-option>
              </ng-select>

            </div>

            <button (click)="saveAuthor()" class="btn btn-sm float-end btn-success mt-3"
                    [disabled]="authorForm.invalid"><i
              class="bi bi-person-check-fill"></i> Submit
            </button>
          </div>

          <div *ngIf="submitted">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Author was submitted successfully!</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <button class="btn btn-sm float-end btn-primary" (click)="newAuthor()"><i
              class="bi bi-person-plus-fill"></i> Add
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
