<div class="row justify-content-center">
  <div class="col-lg-8 col-md-8 col-sm-12">
    <div class="card border-info shadow">
      <div class="card-body">
        <form ngNativeValidate #authorForm=ngForm class="submit-form">
          <div *ngIf="!submitted">
            <div class="form-group">
              <label for="name">Book's Title</label>
              <input type="text" class="form-control" id="name" required [(ngModel)]="book.title" name="name"/>
            </div>

            <div class="form-group mt-2">
              <label for="books_price">Book's Price</label>
              <input type="text" class="form-control" id="books_price" required [(ngModel)]="book.price" name="book_price"/>
            </div>

            <div class="form-group mt-2">
              <label for="years_of_publishing">Years Of Publishing</label>
              <input type="text" class="form-control" id="years_of_publishing" required [(ngModel)]="book.year_of_publication" name="email"/>
            </div>

            <div class="form-group mt-2">
              <label for="genre">Book's Author</label>
              <ng-select bindLabel="genre" id="genre" name="genre"

                         appendTo="body" [multiple]="true" [(ngModel)]="selected_authors">
                <ng-option [value]="item" *ngFor="let item of db_authors">
                  {{item.name}}
                </ng-option>
              </ng-select>
            </div>



<!--            <div class="form-group mt-2">-->
<!--              <label for="name">Book's Author</label>-->
<!--              <input type="phone" class="form-control" id="phone" required [(ngModel)]="" name="phone"/>-->
<!--            </div>-->

            <div class="form-group mt-2">
              <label for="age">Book's Publishers</label>
              <input type="text" class="form-control" id="age" required [(ngModel)]="book.publisher" name="age"/>
            </div>

            <div class="form-group mt-2">
              <label for="genre">Book's genres</label>
              <ng-select bindLabel="genre" id="genre" name="genre"

                         appendTo="body" [multiple]="true" [(ngModel)]="selected_genres">
                <ng-option [value]="item" *ngFor="let item of db_genres">
                  {{item.name}}
                </ng-option>
              </ng-select>
            </div>

            <button (click)="saveBook()" class="btn btn-sm float-end btn-success mt-3"
                    [disabled]="authorForm.invalid"><i
              class="bi bi-person-check-fill"></i> Submit
            </button>
          </div>

          <div *ngIf="submitted">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Tutorial was submitted successfully!</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <button class="btn btn-sm float-end btn-primary" (click)="newBook()"><i
              class="bi bi-person-plus-fill"></i> Add
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

