<div class="card border-info">
  <div class="card-header bg-dark text-white">
    <i class="bi bi-person-circle"></i> Author Details
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 justify-content-center">
        <img class="img-fluid" style="max-height: 300px; border-radius: 50%" src="assets/avatar-1.png">
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <h5 class="card-title"><b>Name: </b>{{author.name}}</h5>
        <hr>
        <h6><b><i class="bi bi-info-square-fill"></i> Age: </b>{{author.age}}</h6>
        <h6><b><i class="bi bi-phone-fill"></i> Phone: </b>{{author.phone}}</h6>
        <h6><b><i class="bi bi-envelope-fill"></i> Email: </b>{{author.email}}</h6>
        <h6><b><i class="bi bi-book-fill"></i> Book Genres: </b></h6>
        <ol>
          <li *ngFor="let g of author.genre">{{g.name}}</li>
        </ol>
        <hr>
        <button (click)="deleteAuthor(author.id)" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i> Delete
        </button>
        <button (click)="updateAuthor(author.id)" class="btn btn-sm btn-primary float-end"><i
          class="bi bi-pencil-square"></i> Edit
        </button>
      </div>
    </div>
  </div>
  <div class="card-footer bg-dark text-white">
    <b><i class="bi bi-calendar3"></i> Reg. date: </b>{{author.registration | date}}
  </div>
</div>
